서울시 구별 CCTV 현황 분석하기
- 서울시 각 구별 CCTV 수를 확인하고
- 인구대비 CCTV 비율을 파악하고 순위 비교
- 인구대비 CCTV 평균 확인하고 CCTV 부족한 구 확인

분석에 사용하는 데이터
- 서울시 자치구 연도별 CCTV 설치 현황 
- 서울시 인구 현황

데이터 분석 작업 순서
1. 파일로부터 데이터 읽어 오기
   (1) CCTV 파일 읽어 오기  : 열 이름 변경
   (2) 서울시 인구 현황 파일 읽어 오기 : 열 이름 변경
2. 데이터 파악
   (1) CCTV 데이터 파악 
       - CCTV가 가장 많은 구 / 적은 구 파악
       - 최근 CCTV 증가율 구하기
   (2) 서울시 인구 데이터 파악
       - 필요 없는 행 삭제
       - 구 이름 확인
       - NaN 확인하고 포함된 행 삭제
       - 인구 분석 작업
           - 외국인 비율 / 고령자 비율 구하기
           - 인구가 제일 많은 구
           - 외국인이 제일 많은 구
           - 외국인 비율이 제일 높은 구
           - 고령자가 가장 많은 구
3. CCTV 데이터와 인구 데이터 합치기
   (1) 구별 기준으로 데이터 합치기
   (2) 의미 없는 열 삭제
   (3) 구별로 인덱스 설정
   (4) 상관관계 분석
   
4. 그래프 작성하고 분석

In [1]:
import pandas as pd
import numpy as np

In [3]:
# 1. 파일에서 데이터 읽어 오기
# CCTV 파일 읽어 오기
CCTV_seoul = pd.read_csv('../data/CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_seoul.head()  # 첫 5행만 출력

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [5]:
CCTV_seoul.tail() # 마지막 5행

    기관명    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  2096       1368    218    112    398
21  은평구  2108       1138    224    278    468
22  종로구  1619        464    314    211    630
23   중구  1023        413    190     72    348
24  중랑구   916        509    121    177    109

In [6]:
# 열 이름 (컬럼명) 출력
CCTV_seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [7]:
CCTV_seoul.columns[0]

'기관명'

In [8]:
# 열이름 '기관명'을 '구별'로 변경 : rename() 사용
CCTV_seoul.rename(columns={CCTV_seoul.columns[0] : '구별'}, inplace=True)
CCTV_seoul.head()

# inplace=True : 변수의 내용 갱신 (작업 완료) : 없으면 변경되지 않음 (commit)

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613